<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Configure all loggers to use the stderr appender -->
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Redirect output to stderr instead of stdout -->
        <target>System.err</target>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Configure specific loggers if needed -->
    <logger name="com.noumenadigital.npl.lang.server" level="INFO" />
</configuration>
